.blob {
    aspect-ratio: 1;
    clip-path: shape(from 5.50% 46.73%, curve to 19.53% 18.70% with 9.11% 30.76%, curve to 46.38% 4.78% with 29.96% 6.63%, curve to 74.23% 14.07% with 62.79% 2.92%, curve to 90.53% 39.67% with 85.67% 25.21%, curve to 89.48% 68.97% with 95.40% 54.13%, curve to 68.86% 91.63% with 83.57% 83.81%, curve to 39.58% 92.43% with 54.15% 99.45%, curve to 13.46% 74.06% with 25.01% 85.42%, curve to 5.50% 46.73% with 1.90% 62.71%);
}
*{
    box-sizing: border-box;
}
des {
    height: 100px;    
}
#about {
    overflow: auto;
}
.popup {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 20px;
    padding: 20px;
    z-index: 3;
    border-color: transparent;
    color: black
}

.mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    color: black
}

li {
    width: fit-content;
}

#list p:hover {
    color: rgb(88, 5, 5)
}

#list p {
    cursor: pointer;
}

li a:hover::after {
    content: "";
    background-color: white;
    width: 100%;
    height: 2px;
    position: relative;
    display: block;
    animation: underline 1s ease;
}

@keyframes underline {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.stats>div {
    box-shadow: 1px -2px 5px -1px rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold
}


#img-div:hover img,
.icons>div:hover img,
#WORKS a:hover img {
    transform: scale(1.15);
}

#img-div>img,
.sub-topic,
.icons>div img,
#cont,
#WORKS a img {
    transition: all 0.5s 0.3s;
}

.sub-topic:hover,
#cont:hover {
    box-shadow: 2px -2px 25px -1px rgb(145, 145, 243);
}

.skills {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/webbg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#name,
#email,
textarea {
    outline: 2px solid rgba(225, 225, 225, 0.1);
    background-color: rgba(0, 0, 2, 0.4);
    border-radius: 10px;
    width: 350px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.submit {
    border-radius: 10px;
    width: 350px;
    height: 50px;
    margin-top: 10px;
}

.submit:hover {
    background-color: rgb(77, 138, 103);
}
.icons>div{
    transition: all 0.3s ease-in;
    border: 3px solid rgba(225, 225, 225, 0.3);
    padding: 1px 4px;
    border-radius: 50%;
    color: white;
}
.icons>div:hover {
    color:rgb(5, 5, 130);
    border: 3px solid rgb(5,5,130);
}
#contact{
    overflow: hidden; 
}
#WORKS>div>div{
    border-radius: 20px;
    height: 200px;
    width: 300px;
}


